<div class="container">
  <h2>Faktura Kontraktowca</h2>
  <mat-card>
    <div [formGroup]="invoiceForm">
      <mat-form-field>
        <mat-label>NIP</mat-label>
        <input matInput formControlName="nipNumber" />
        <mat-error
          *ngIf="
            this.invoiceForm.get('nipNumber')?.value &&
            !this.invoiceForm.get('nipNumber')?.valid
          "
        >
          Nip nie jest poprawny
        </mat-error>
        <mat-error
          *ngIf="this.invoiceForm.get('nipNumber')?.errors?.['required']"
        >
          Pole NIP wymagane
        </mat-error>
      </mat-form-field>
      &nbsp;

      <mat-form-field
        ><mat-select
          placeholder="Waluta"
          formControlName="currency"
          name="currency"
          required
        >
          <mat-option
            *ngFor="let options of CurrencySymbolEnumKeys"
            [value]="options"
            >{{ options }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="this.invoiceForm.get('currency')?.errors?.['required']"
        >
          Pole Waluta wymagane
        </mat-error>
        <!-- <div
          *ngIf="control.invalid && (control.dirty || control.touched)"
          class="error"
        >
          {{ control.errors | validator : customValidatorMessages }}
        </div> -->
      </mat-form-field>

      <div formArrayName="amountRows">
        <div *ngFor="let row of invoiceAmountRows.controls; let i = index">
          <div
            class="row"
            [formGroupName]="i"
            [ngClass]="
              validateRowAmounts(row) || checkIfAmountsFilled(row)
                ? 'rowApproved'
                : 'rowError'
            "
          >
            <mat-form-field appearance="outline">
              <mat-select
                placeholder="Stawka VAT"
                formControlName="vatRate"
                required
                (selectionChange)="onRowChanges(RowFieldTypes.VAT_RATE, row)"
              >
                <mat-option
                  *ngFor="let options of VAT_RATES"
                  [value]="options.value"
                  >{{ options.displayName }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="row.get('vatRate')?.errors?.['required']">
                Pole Waluta wymagane
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Kwota netto</mat-label>
              <input
                name="netAmount{i}"
                matInput
                formControlName="netAmount"
                (input)="onRowChanges(RowFieldTypes.NET_AMOUNT, row)"
                pattern="[0-9]+"
              />
            </mat-form-field>
            <!--[value]="row.get('netAmount')?.value | number : '1.2-2'" -->
            <!-- | currency : invoiceForm.get('currency')?.value : '' -->
            &nbsp;
            <mat-form-field>
              <mat-label>Kwota VAT</mat-label>
              <input
                matInput
                formControlName="vatAmount"
                (input)="onRowChanges(RowFieldTypes.VAT_AMOUNT, row)"
              />
              <mat-error *ngIf="row.get('vatAmount')?.errors?.['required']">
                Pole Kwota Vat wymagane
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Kwota Brutto</mat-label>
              <input
                matInput
                formControlName="grossAmount"
                (input)="onRowChanges(RowFieldTypes.GROSS_AMOUNT, row)"
              />
              <mat-error *ngIf="row.get('grossAmount')?.errors?.['required']">
                Pole Kwota Brutto wymagane
              </mat-error>
            </mat-form-field>
            &nbsp;

            <button (click)="deleteInvoiceRow(i)" mat-button>
              <mat-icon>close</mat-icon>
            </button>

            <span *ngIf="validateRowAmounts(row)"
              ><mat-icon style="color: green">check</mat-icon>
            </span>
          </div>
        </div>
        <br />
        <span>Razem:</span>&nbsp;&nbsp; <span>{{ netAmountSum }}</span
        >&nbsp;&nbsp; <span>{{ vatAmountSum }}</span
        >&nbsp;&nbsp;
        <span>{{ grossAmountSum }}</span>
        <br />
        <span>Razem do zapłaty:</span>
        <span></span>
      </div>
      <button (click)="addInvoiceRow()" mat-raised-button>Dodaj wiersz</button>
      <br />
      <br />
      <br />

      <mat-form-field class="full-width">
        <mat-label>Data wystawienia</mat-label>
        <input
          matInput
          [matDatepicker]="invoiceIssueDatePicker"
          placeholder="Data Wystawienia"
          formControlName="invoiceIssueDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="invoiceIssueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invoiceIssueDatePicker></mat-datepicker>
        <mat-error
          *ngIf="this.invoiceForm.get('invoiceIssueDate')?.errors?.['required']"
        >
          Pole Data wystawienia wymagane
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="full-width">
        <mat-label>Data dostarczenia</mat-label>
        <input
          matInput
          [matDatepicker]="invoiceDeliverDatePicker"
          placeholder="Data Wystawienia"
          formControlName="invoiceDeliverDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="invoiceDeliverDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invoiceDeliverDatePicker></mat-datepicker>
        <mat-error
          *ngIf="this.invoiceForm.get('invoiceDeliverDate')?.errors?.['required']"
        >
          Pole Data dostarczenia wymagane
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="full-width">
        <mat-label>Termin płatności</mat-label>
        <input
          matInput
          [matDatepicker]="invoicePaymentDatePicker"
          placeholder="Data Wystawienia"
          formControlName="invoicePaymentDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="invoicePaymentDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invoicePaymentDatePicker></mat-datepicker>
        <mat-error
          *ngIf="this.invoiceForm.get('invoicePaymentDate')?.errors?.['required']"
        >
          Pole Data Wystawienia wymagane
        </mat-error>
      </mat-form-field>

      <br />
      <br />

      <button type="button" (click)="deleteForm()" mat-raised-button>
        Usuń
      </button>
      <button type="button" (click)="saveForm()" mat-raised-button>
        Zapisz
      </button>
      <button type="button" disabled mat-raised-button>
        Zapisz i wyślij do zatwierdzenia
      </button>
    </div>

    <pre>{{ invoiceForm.value | json }}</pre>
  </mat-card>
</div>
