<div class="container">
  <div>
    Dark Mode
    <mat-slide-toggle
      color="primary"
      [checked]="lightTheme"
      (change)="toggleTheme()"
    ></mat-slide-toggle>
    Light Mode
  </div>
  <h2>Faktura Kontraktowca</h2>
  <mat-card>
    <form [formGroup]="invoiceForm">
      <div class="grid-container two-cols">
        <div class="grid-item">
          <mat-form-field class="fullwidth">
            <mat-label>NIP</mat-label>
            <input
              matInput
              formControlName="nipNumber"
              aria-label="Input numer nip"
            />
            <mat-error
              *ngIf="
                this.invoiceForm.get('nipNumber')?.value &&
                !this.invoiceForm.get('nipNumber')?.valid
              "
            >
              Nip nie jest poprawny
            </mat-error>
            <mat-error
              *ngIf="this.invoiceForm.get('nipNumber')?.errors?.['required']"
            >
              NIP wymagane
            </mat-error>
          </mat-form-field>
        </div>
        <div class="grid-item">
          <mat-form-field class="fullwidth"
            ><mat-select
              placeholder="Waluta"
              formControlName="currency"
              name="currency"
              required
            >
              <mat-option
                *ngFor="let options of CurrencySymbolEnumKeys"
                [value]="options"
                >{{ options }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="this.invoiceForm.get('currency')?.errors?.['required']"
            >
              Waluta wymagane
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div formArrayName="amountRows">
        <div *ngFor="let row of invoiceAmountRows.controls; let i = index">
          <div
            class="row"
            [formGroupName]="i"
            [ngClass]="
              validateRowAmounts(row) || checkIfAmountsFilled(row)
                ? 'rowApproved'
                : 'rowError'
            "
          >
            <div class="grid-container">
              <div class="grid-item">
                <mat-form-field appearance="outline">
                  <mat-select
                    placeholder="Stawka VAT"
                    formControlName="vatRate"
                    required
                    (selectionChange)="
                      onRowChanges(RowFieldTypes.VAT_RATE, row)
                    "
                  >
                    <mat-option
                      *ngFor="let options of VAT_RATES"
                      [value]="options.value"
                      >{{ options.displayName }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="row.get('vatRate')?.errors?.['required']">
                    Stawka VAT wymagane
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="grid-item">
                <mat-form-field>
                  <mat-label>Kwota netto</mat-label>
                  <input
                    class="text-align-right"
                    matInput
                    formControlName="netAmount"
                    (input)="onRowChanges(RowFieldTypes.NET_AMOUNT, row)"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="row.get('netAmount')?.errors?.['required'] && (row.get('netAmount')?.dirty || row.get('netAmount')?.touched)"
                >
                  Kwota netto wymagana
                </mat-error>
              </div>
              <div class="grid-item">
                <mat-form-field>
                  <mat-label>Kwota VAT</mat-label>
                  <input
                    class="text-align-right"
                    matInput
                    formControlName="vatAmount"
                    (input)="onRowChanges(RowFieldTypes.VAT_AMOUNT, row)"
                  />
                  <mat-error *ngIf="row.get('vatAmount')?.errors?.['required']">
                    Kwota Vat wymagane
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="grid-item">
                <mat-form-field>
                  <mat-label>Kwota Brutto</mat-label>
                  <input
                    class="text-align-right"
                    matInput
                    formControlName="grossAmount"
                    (input)="onRowChanges(RowFieldTypes.GROSS_AMOUNT, row)"
                  />
                  <mat-error
                    *ngIf="row.get('grossAmount')?.errors?.['required']"
                  >
                    Kwota Brutto wymagane
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="grid-item">
                <button
                  type="button"
                  class="delete-btn"
                  aria-label="Usuń wiersz formularza"
                  (click)="deleteInvoiceRow(i)"
                  mat-button
                  [disabled]="
                    this.invoiceForm.get('amountRows')?.value.length === 1
                  "
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <span *ngIf="validateRowAmounts(row)"
                ><mat-icon class="green">check</mat-icon>
              </span>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="button"
          (click)="addInvoiceRow()"
          [disabled]="this.invoiceForm.get('amountRows')?.status === 'INVALID'"
          mat-raised-button
          aria-label="Dodaj wiersz formularza"
        >
          Dodaj wiersz
        </button>
        <div class="summary-wrap">
          <div class="grid-container">
            <span class="grid-item">Razem:</span>
            <span class="grid-item text-align-right">{{ netAmountSum }}</span>
            <span class="grid-item text-align-right">{{ vatAmountSum }}</span>
            <span class="grid-item text-align-right">{{ grossAmountSum }}</span>
          </div>
          <div class="grid-container total">
            <span class="grid-item">Razem do zapłaty:</span>
            <span class="grid-item"></span>
            <span class="grid-item"></span>
            <span class="text-align-right">{{ grossAmountSum }}</span>
          </div>
          <mat-error *ngIf="validateTotalGrossAmount()">
            Łączna kwota pozycji brutto została przekroczona
          </mat-error>
        </div>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Data wystawienia</mat-label>
        <input
          matInput
          [matDatepicker]="invoiceIssueDatePicker"
          placeholder="Data Wystawienia"
          formControlName="invoiceIssueDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="invoiceIssueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invoiceIssueDatePicker></mat-datepicker>
        <mat-error
          *ngIf="this.invoiceForm.get('invoiceIssueDate')?.errors?.['required']"
        >
          Data wystawienia wymagane
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="full-width">
        <mat-label>Data dostarczenia</mat-label>
        <input
          matInput
          [matDatepicker]="invoiceDeliveryDatePicker"
          placeholder="Data dostarczenia"
          formControlName="invoiceDeliveryDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="invoiceDeliveryDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invoiceDeliveryDatePicker></mat-datepicker>
        <mat-error
          *ngIf="this.invoiceForm.get('invoiceDeliveryDate')?.errors?.['required']"
        >
          Data dostarczenia wymagane
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="full-width">
        <mat-label>Termin płatności</mat-label>
        <input
          matInput
          [matDatepicker]="invoicePaymentDatePicker"
          placeholder="Data Wystawienia"
          formControlName="invoicePaymentDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="invoicePaymentDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invoicePaymentDatePicker></mat-datepicker>
        <mat-error
          *ngIf="this.invoiceForm.get('invoicePaymentDate')?.errors?.['required']"
        >
          Data Wystawienia wymagane
        </mat-error>
      </mat-form-field>

      <div>
        <button
          type="button"
          aria-label="Usuń Formularz"
          (click)="deleteForm()"
          mat-raised-button
        >
          Usuń
        </button>

        <button
          type="button"
          aria-label="Zapisz formularz"
          (click)="saveForm()"
          mat-raised-button
          [disabled]="validateTotalGrossAmount()"
        >
          Zapisz
        </button>
        <button
          type="submit"
          aria-label="Zapisz i wyślij formularz do zatwierdzenia"
          disabled
          mat-raised-button
        >
          Zapisz i wyślij do zatwierdzenia
        </button>
      </div>
    </form>
    <pre>{{ invoiceForm.value | json }}</pre>
  </mat-card>
</div>
