/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
  padding: 40px 20px;
}

.delete-btn {
  top: -10px;
}

.fullwidth {
  width: 100%;
}
